# Traitement de la base sirene

In [54]:
import os

import pandas as pd

import numpy as np

In [55]:
# Ne pas oublier PEP 8

In [56]:
# Déclaration des constantes
DATA_DIR = '../data/external/'
PROCESS_DIR = '../data/processed/'

ENTITIES_FILENAME = 'StockUniteLegale_utf8.zip'
ETAB_FILENAME = 'StockEtablissement_utf8.zip'
NAF_REF_FILENAME = 'naf86.xlsx'
PS_CITIES_FILENAME = 'PS_communes.csv'
FILOSOFI_FILENAME = 'filo-revenu-pauvrete-menage-2015.zip'

ACTIVITY_CODE = '86.'

## Préparation des entités

In [4]:
pd.read_csv(os.path.join(DATA_DIR, ENTITIES_FILENAME), # Concaténation du répertoire et du nom de fichier
            compression='zip',
            #nrows=1000 # limite à 1000 lignes la lecture
           ).head()

/Users/alexiscot/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (2,4,5,6,7,8,9,10,11,12,13,17,21,22,24,25,26) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,siren,statutdiffusionunitelegale,unitepurgeeunitelegale,datecreationunitelegale,sigleunitelegale,sexeunitelegale,prenom1unitelegale,prenom2unitelegale,prenom3unitelegale,prenom4unitelegale,...,denominationunitelegale,denominationusuelle1unitelegale,denominationusuelle2unitelegale,denominationusuelle3unitelegale,categoriejuridiqueunitelegale,activiteprincipaleunitelegale,nomenclatureactiviteprincipaleunitelegale,nicsiegeunitelegale,economiesocialesolidaireunitelegale,caractereemployeurunitelegale
0,325175,O,NaN,2000-09-26,NaN,M,THIERRY,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1000,32.12Z,NAFRev2,65,NaN,N
1,1807254,O,NaN,1972-05-01,NaN,M,JACQUES-LUCIEN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1000,85.59A,NAFRev2,22,NaN,N
2,5410220,O,True,1954-12-25,NaN,M,GEORGES,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1000,22.02,NAP,15,NaN,N
3,5410345,O,True,NaN,NaN,M,MICHEL,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1000,79.06,NAP,10,NaN,N
4,5410394,O,True,1954-12-25,NaN,M,ROBERT,ALFRED,NaN,NaN,...,NaN,NaN,NaN,NaN,1000,64.42,NAP,18,NaN,N

In [5]:
pd.read_csv(os.path.join(DATA_DIR, ENTITIES_FILENAME), # Concaténation du répertoire et du nom de fichier
            compression='zip',
            nrows=1000 # limite à 1000 lignes la lecture
           ).columns

Index(['siren', 'statutdiffusionunitelegale', 'unitepurgeeunitelegale',
       'datecreationunitelegale', 'sigleunitelegale', 'sexeunitelegale',
       'prenom1unitelegale', 'prenom2unitelegale', 'prenom3unitelegale',
       'prenom4unitelegale', 'prenomusuelunitelegale', 'pseudonymeunitelegale',
       'identifiantassociationunitelegale', 'trancheeffectifsunitelegale',
       'anneeeffectifsunitelegale', 'datederniertraitementunitelegale',
       'nombreperiodesunitelegale', 'categorieentreprise',
       'anneecategorieentreprise', 'datedebut', 'etatadministratifunitelegale',
       'nomunitelegale', 'nomusageunitelegale', 'denominationunitelegale',
       'denominationusuelle1unitelegale', 'denominationusuelle2unitelegale',
       'denominationusuelle3unitelegale', 'categoriejuridiqueunitelegale',
       'activiteprincipaleunitelegale',
       'nomenclatureactiviteprincipaleunitelegale', 'nicsiegeunitelegale',
       'economiesocialesolidaireunitelegale', 'caractereemployeurunitelegale'],
      dtype='object')

In [70]:
%%time
entities_df = (pd.read_csv(os.path.join(DATA_DIR, ENTITIES_FILENAME), # Concaténation du répertoire et du nom de fichier
                           usecols=['siren',
                                    'activiteprincipaleunitelegale', 'datecreationunitelegale',
                                    'denominationunitelegale', 'nomunitelegale', 'etatadministratifunitelegale',
                                   ],
                           compression='zip',
                           #nrows=100000 # limite à n lignes la lecture
                          )
             ).dropna(subset=['activiteprincipaleunitelegale']).query('etatadministratifunitelegale == "A"')

# Filtrage des professionnels de santé
#entities_df = entities_df[entities_df.activiteprincipaleunitelegale.str.startswith(ACTIVITY_CODE)] # 86.

<string>:2: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.

CPU times: user 1min 6s, sys: 37.4 s, total: 1min 43s
Wall time: 2min 7s

In [7]:
entities_df.shape

(11696143, 6)

In [8]:
entities_df.denominationunitelegale.isnull().sum()

4403344

In [9]:
entities_df.nomunitelegale.isnull().sum()

7292817

In [10]:
entities_df.denominationunitelegale.isnull().sum() + entities_df.nomunitelegale.isnull().sum()

11696161

In [11]:
entities_df.head()

,siren,datecreationunitelegale,etatadministratifunitelegale,nomunitelegale,denominationunitelegale,activiteprincipaleunitelegale
0,325175,2000-09-26,A,JANOYER,NaN,32.12Z
31,5411582,1954-01-01,A,GERVOISE,NaN,68.20B
38,5420021,1954-01-01,A,NaN,ETABLISSEMENTS LUCIEN BIQUEZ,46.69B
45,5420120,1954-01-01,A,NaN,SOCIETE DES SUCRERIES DU MARQUENTERRE,70.10Z
51,5420260,1954-12-25,A,NaN,SOCIETE ANONYME MILBLED,20.01

(pd.read_csv(os.path.join(DATA_DIR, ENTITES_FILENAME), # Concaténation du répertoire et du nom de fichier
                          compression='zip',
                          nrows=1000 # limite à 1000 lignes la lecture
            )
 .dropna(subset=['activiteprincipaleunitelegale'])
 .query('activiteprincipaleunitelegale like "86.%"')
 ['activiteprincipaleunitelegale'].value_counts()
)

## Préparation des établissements

In [12]:
pd.read_csv(os.path.join(DATA_DIR, ETAB_FILENAME), # Concaténation du répertoire et du nom de fichier
            compression='zip',
            nrows=1000 # limite à 1000 lignes la lecture
           ).head()

,siren,nic,siret,statutdiffusionetablissement,datecreationetablissement,trancheeffectifsetablissement,anneeeffectifsetablissement,activiteprincipaleregistremetiersetablissement,datederniertraitementetablissement,etablissementsiege,...,libellepaysetranger2etablissement,datedebut,etatadministratifetablissement,enseigne1etablissement,enseigne2etablissement,enseigne3etablissement,denominationusuelleetablissement,activiteprincipaleetablissement,nomenclatureactiviteprincipaleetablissement,caractereemployeuretablissement
0,325175,16,32517500016,O,2000-09-26,NaN,NaN,3212ZZ,2015-03-18T00:58:59,False,...,NaN,2009-05-27,F,NaN,NaN,NaN,NaN,32.12Z,NAFRev2,N
1,325175,24,32517500024,O,2008-05-20,NaN,NaN,NaN,2011-12-12T09:40:04,False,...,NaN,2011-10-21,F,TAHITI PERLES CREATIONS,NaN,NaN,NaN,47.89Z,NAFRev2,N
2,325175,32,32517500032,O,2009-05-27,NaN,NaN,NaN,2014-07-08T00:10:21,False,...,NaN,2011-10-21,F,TAHITI PERLES CREATIONS,NaN,NaN,NaN,32.12Z,NAFRev2,N
3,325175,40,32517500040,O,2011-10-21,NaN,NaN,3212ZZ,2015-03-18T00:58:59,False,...,NaN,2014-01-07,F,TAHITI PERLES CREATION,NaN,NaN,NaN,32.12Z,NAFRev2,N
4,325175,57,32517500057,O,2014-01-07,NaN,NaN,NaN,2018-07-10T14:17:15,False,...,NaN,2018-02-07,F,TAHITI PERLES CREATION,NaN,NaN,NaN,32.12Z,NAFRev2,N

In [62]:
pd.read_csv(os.path.join(DATA_DIR, ETAB_FILENAME), # Concaténation du répertoire et du nom de fichier
            compression='zip',
            dtype = {'codecommuneetablissement' : np.str},
            nrows=1000 # limite à 1000 lignes la lecture
           ).columns.sort_values()

Index(['activiteprincipaleetablissement',
       'activiteprincipaleregistremetiersetablissement',
       'anneeeffectifsetablissement', 'caractereemployeuretablissement',
       'codecedex2etablissement', 'codecedexetablissement',
       'codecommune2etablissement', 'codecommuneetablissement',
       'codepaysetranger2etablissement', 'codepaysetrangeretablissement',
       'codepostal2etablissement', 'codepostaletablissement',
       'complementadresse2etablissement', 'complementadresseetablissement',
       'datecreationetablissement', 'datedebut',
       'datederniertraitementetablissement',
       'denominationusuelleetablissement',
       'distributionspeciale2etablissement',
       'distributionspecialeetablissement', 'enseigne1etablissement',
       'enseigne2etablissement', 'enseigne3etablissement',
       'etablissementsiege', 'etatadministratifetablissement',
       'indicerepetition2etablissement', 'indicerepetitionetablissement',
       'libellecedex2etablissement', 'libellecedexetablissement',
       'libellecommune2etablissement', 'libellecommuneetablissement',
       'libellecommuneetranger2etablissement',
       'libellecommuneetrangeretablissement',
       'libellepaysetranger2etablissement', 'libellepaysetrangeretablissement',
       'libellevoie2etablissement', 'libellevoieetablissement', 'nic',
       'nombreperiodesetablissement',
       'nomenclatureactiviteprincipaleetablissement',
       'numerovoie2etablissement', 'numerovoieetablissement', 'siren', 'siret',
       'statutdiffusionetablissement', 'trancheeffectifsetablissement',
       'typevoie2etablissement', 'typevoieetablissement'],
      dtype='object')

In [68]:
%%time
etab_df = (pd.read_csv(os.path.join(DATA_DIR, ETAB_FILENAME), # Concaténation du répertoire et du nom de fichier
                       usecols=['siren',
                                'activiteprincipaleetablissement', 'datecreationetablissement',
                                'enseigne1etablissement', 'denominationusuelleetablissement',
                                'etatadministratifetablissement',
                                'codepostaletablissement', 'codecommuneetablissement', 'libellecommuneetablissement',
                               ],
                       dtype = {'codecommuneetablissement' : np.str},
                           compression='zip',
                           #nrows=1_000_000 # limite à n lignes la lecture
                          )
             ).dropna(subset=['activiteprincipaleetablissement']).query('etatadministratifetablissement == "A"')

# Filtrage des professionnels de santé
#etab_df = etab_df[etab_df.activiteprincipaleetablissement.str.startswith(ACTIVITY_CODE)] # 86.

<string>:2: DtypeWarning: Columns (41,44) have mixed types. Specify dtype option on import or set low_memory=False.

CPU times: user 2min 2s, sys: 1min 42s, total: 3min 44s
Wall time: 4min 36s

In [67]:
etab_df.dtypes

siren                                int64
datecreationetablissement           object
codepostaletablissement             object
libellecommuneetablissement         object
codecommuneetablissement            object
etatadministratifetablissement      object
enseigne1etablissement              object
denominationusuelleetablissement    object
activiteprincipaleetablissement     object
dtype: object

In [15]:
etab_df.shape

(11233968, 9)

In [69]:
etab_df.head(10)

,siren,datecreationetablissement,codepostaletablissement,libellecommuneetablissement,codecommuneetablissement,etatadministratifetablissement,enseigne1etablissement,denominationusuelleetablissement,activiteprincipaleetablissement
5,325175,2018-02-07,13004.0,MARSEILLE 4,13204,A,NaN,NaN,32.12Z
48,5420021,2009-12-23,80100.0,ABBEVILLE,80001,A,NaN,NaN,46.69B
56,5420120,1989-01-27,80120.0,RUE,80688,A,NaN,NaN,10.81Z
57,5420120,1900-01-01,62180.0,RANG DU FLIERS,62688,A,NaN,NaN,52.10B
58,5420120,1900-01-01,62140.0,MARCONNELLE,62550,A,NaN,NaN,70.10Z
59,5420120,1900-01-01,62180.0,CONCHIL LE TEMPLE,62233,A,NaN,NaN,46.75Z
71,5440110,1995-10-01,4000.0,DIGNE-LES-BAINS,04070,A,NaN,NaN,68.20B
79,5440565,1954-01-01,4200.0,SISTERON,04209,A,NaN,NaN,68.20B
119,5450093,2001-02-20,4800.0,GREOUX LES BAINS,04094,A,PASSIONNEMENT GLAMOUR,PASSIONNEMENT GLAMOUR,47.78C
120,5450093,2011-04-12,4800.0,GREOUX LES BAINS,04094,A,PASSIONNEMENT GLAMOUR,PASSIONNEMENT GLAMOUR,47.71Z

In [17]:
etab_df.dtypes

siren                                 int64
datecreationetablissement            object
codepostaletablissement             float64
libellecommuneetablissement          object
codecommuneetablissement             object
etatadministratifetablissement       object
enseigne1etablissement               object
denominationusuelleetablissement     object
activiteprincipaleetablissement      object
dtype: object

In [18]:
entities_df.dtypes

siren                             int64
datecreationunitelegale          object
etatadministratifunitelegale     object
nomunitelegale                   object
denominationunitelegale          object
activiteprincipaleunitelegale    object
dtype: object

In [71]:
process_df = etab_df.merge(entities_df, on='siren', how='left')

In [31]:
process_df.shape

(11233968, 14)

In [21]:
process_df[process_df.activiteprincipaleunitelegale.isnull()].shape

(23, 14)

In [22]:
etab_df.memory_usage(deep=True).sum() / (1024 * 1024) # En mégaoctet

4499.5495529174805

In [23]:
entities_df.memory_usage(deep=True).sum() / (1024 * 1024) # En mégaoctet

3508.9555292129517

In [24]:
etab_df.merge(entities_df, on='siren', how='outer', indicator=True)['_merge'].value_counts()

both          11233945
right_only     1622950
left_only           23
Name: _merge, dtype: int64

In [72]:
etab_merge_df = etab_df.merge(entities_df, on='siren', how='outer', indicator=True)

In [36]:
etab_merge_df.head()

,siren,datecreationetablissement,codepostaletablissement,libellecommuneetablissement,codecommuneetablissement,etatadministratifetablissement,enseigne1etablissement,denominationusuelleetablissement,activiteprincipaleetablissement,datecreationunitelegale,etatadministratifunitelegale,nomunitelegale,denominationunitelegale,activiteprincipaleunitelegale,_merge
0,325175,2018-02-07,13004.0,MARSEILLE 4,13204,A,NaN,NaN,32.12Z,2000-09-26,A,JANOYER,NaN,32.12Z,both
1,5420021,2009-12-23,80100.0,ABBEVILLE,80001,A,NaN,NaN,46.69B,1954-01-01,A,NaN,ETABLISSEMENTS LUCIEN BIQUEZ,46.69B,both
2,5420120,1989-01-27,80120.0,RUE,80688,A,NaN,NaN,10.81Z,1954-01-01,A,NaN,SOCIETE DES SUCRERIES DU MARQUENTERRE,70.10Z,both
3,5420120,1900-01-01,62180.0,RANG DU FLIERS,62688,A,NaN,NaN,52.10B,1954-01-01,A,NaN,SOCIETE DES SUCRERIES DU MARQUENTERRE,70.10Z,both
4,5420120,1900-01-01,62140.0,MARCONNELLE,62550,A,NaN,NaN,70.10Z,1954-01-01,A,NaN,SOCIETE DES SUCRERIES DU MARQUENTERRE,70.10Z,both

## Filtrage des professionnels de santé

In [9]:
etab_merge_filt_df = etab_merge_df[etab_merge_df.activiteprincipaleetablissement.str.startswith(ACTIVITY_CODE)|etab_merge_df.activiteprincipaleunitelegale.str.startswith(ACTIVITY_CODE)] # 86.

In [105]:
etab_merge_filt_df.head()

,siren,datecreationetablissement,codepostaletablissement,libellecommuneetablissement,codecommuneetablissement,etatadministratifetablissement,enseigne1etablissement,denominationusuelleetablissement,activiteprincipaleetablissement,datecreationunitelegale,etatadministratifunitelegale,nomunitelegale,denominationunitelegale,activiteprincipaleunitelegale,_merge,NAF
58,5720164,1983-09-28,80100.0,ABBEVILLE,80001,A,NaN,NaN,86.10Z,1957-01-01,A,NaN,SA SAINTE-ISABELLE,86.10Z,both,86.10Z
416,7050040,1970-01-01,4510.0,AIGLUN,04001,A,NaN,NaN,86.10Z,1970-01-01,A,NaN,CENTRE DES CARMES,86.10Z,both,86.10Z
5115,17150533,1971-01-01,21000.0,DIJON,21231,A,NaN,NaN,86.10Z,1971-01-01,A,NaN,CLINIQUE LES ROSIERS,86.10Z,both,86.10Z
12308,24080749,2002-12-19,97600.0,MAMOUDZOU,97611,A,NaN,NaN,86.90B,2002-12-19,A,NaN,MAYO BIO SELARL,86.90B,both,86.90B
14190,35204429,2009-01-01,31200.0,TOULOUSE,31555,A,NaN,NaN,86.23Z,1983-10-21,A,NaN,SAURAT PHILIPPE ET ISABELLE,86.23Z,both,86.23Z

## Types d'écarts

In [10]:
etab_merge_filt_df[etab_merge_filt_df['activiteprincipaleetablissement']!=etab_merge_filt_df['activiteprincipaleunitelegale']]

,siren,datecreationetablissement,codepostaletablissement,libellecommuneetablissement,codecommuneetablissement,etatadministratifetablissement,enseigne1etablissement,denominationusuelleetablissement,activiteprincipaleetablissement,datecreationunitelegale,etatadministratifunitelegale,nomunitelegale,denominationunitelegale,activiteprincipaleunitelegale,_merge
15198,37240348,2002-12-20,73450.0,VALLOIRE,73306,A,NaN,NaN,68.20B,1972-01-01,A,MONNET,NaN,86.90B,both
15243,37739802,2004-10-10,64200.0,BIARRITZ,64122,A,NaN,NaN,68.20B,2004-10-10,A,BUCHET,NaN,86.21Z,both
81517,61800090,2016-06-22,92800.0,PUTEAUX,92062,A,NaN,NaN,70.10Z,1961-01-01,A,NaN,CLINIQUE L EMERAUDE,86.10Z,both
81518,61800090,2017-12-30,83440.0,CALLIAN,83029,A,LA BASTIDE DE CALLIAN,NaN,68.20B,1961-01-01,A,NaN,CLINIQUE L EMERAUDE,86.10Z,both
88139,95480240,2016-02-12,64410.0,ARZACQ ARRAZIGUET,64063,A,NaN,NaN,86.90F,1954-01-01,A,NaN,SOCIETE PYRENEENNE DE MAISON DE SANTE,86.10Z,both
91167,130004096,2007-11-07,94120.0,FONTENAY SOUS BOIS,94033,A,SSIAD,NaN,86.90D,2007-07-26,A,NaN,GROUPEMENT DE COOPERATION SOCIALE ET MEDICO SO...,87.30A,both
91168,130004096,2010-04-14,94120.0,FONTENAY SOUS BOIS,94033,A,SCE EQUIPE MOBILE ALZHEIMER,NaN,86.10Z,2007-07-26,A,NaN,GROUPEMENT DE COOPERATION SOCIALE ET MEDICO SO...,87.30A,both
91381,130005457,2009-01-01,67000.0,STRASBOURG,67482,A,CTRE MEDECINE PREVENTIVE,NaN,86.21Z,2008-08-18,A,NaN,UNIVERSITE DE STRASBOURG,85.42Z,both
93353,130007339,2014-10-01,16470.0,SAINT MICHEL,16341,A,SSIAD,NaN,86.90D,2009-11-01,A,NaN,GROUPEMENT DE COOPERATION SANITAIRE DES ETABLI...,84.12Z,both
93354,130007339,2012-01-01,16300.0,BARBEZIEUX SAINT HILAIRE,16028,A,GCS ETS SANTE PUBLICS CHARENTE - SITE BARBEZIEUX,NaN,86.90B,2009-11-01,A,NaN,GROUPEMENT DE COOPERATION SANITAIRE DES ETABLI...,84.12Z,both
95453,130010754,2010-02-01,33520.0,BRUGES,33075,A,SERVICE SOINS INFIRMIERS A DOMICILE,NaN,86.90D,2009-12-16,A,NaN,GROUPEMENT COOPERATION SOCIALE ET MEDICO SOCIA...,84.12Z,both
99408,130015332,2012-01-01,13005.0,MARSEILLE 5,13205,A,SERV MEDECINE PREV INTERUNIV AIX MARSEILLE,NaN,86.10Z,2012-01-01,A,NaN,UNIVERSITE D'AIX MARSEILLE,85.42Z,both
99419,130015332,2012-01-01,13005.0,MARSEILLE 5,13205,A,SCUMP UNIVERSITE AIX MARSEILLE,NaN,86.10Z,2012-01-01,A,NaN,UNIVERSITE D'AIX MARSEILLE,85.42Z,both
99506,130015506,2012-01-01,54000.0,NANCY,54395,A,CENTRE DE MEDECINE PREVENTIVE,NaN,86.90B,2012-01-01,A,NaN,UNIVERSITE DE LORRAINE,85.42Z,both
99518,130015506,1989-03-06,57000.0,METZ,57463,A,SCE SANTE UNIV MEDECINE PREVENTIVE PROMOTION S...,NaN,86.21Z,2012-01-01,A,NaN,UNIVERSITE DE LORRAINE,85.42Z,both
99546,130015522,2012-05-25,13300.0,SALON DE PROVENCE,13103,A,IFSI / IFAS,NaN,86.90D,2012-01-01,A,NaN,GROUPEMENT DE COOPERATION SANITAIRE DU PAYS D'AIX,84.12Z,both
99953,130017999,2013-05-18,69190.0,SAINT FONS,69199,A,SOINS A DOMICILE,NaN,86.10Z,2013-02-26,A,NaN,PUBLICADOM,84.12Z,both
100301,130020548,2015-01-01,34000.0,MONTPELLIER,34172,A,SUMPPS,NaN,86.21Z,2015-01-01,A,NaN,UNIVERSITE DE MONTPELLIER,85.42Z,both
100469,130020902,2016-10-12,71800.0,LA CLAYETTE,71133,A,PUI DU GCS,NaN,86.10Z,2012-08-07,A,NaN,GROUPEMENT DE COOPERATION SANITAIRE DU PAYS CH...,84.12Z,both
102106,170404313,1983-01-01,4100.0,MANOSQUE,04112,A,CENTRE MEDICO SCOLAIRE,NaN,86.21Z,1975-12-01,A,NaN,DIRECTION DES SERVICES DEPARTEMENTAUX DE L'EDU...,84.12Z,both
102107,170404313,1983-01-01,4000.0,DIGNE-LES-BAINS,04070,A,CENTRE MEDICO SCOLAIRE,NaN,86.21Z,1975-12-01,A,NaN,DIRECTION DES SERVICES DEPARTEMENTAUX DE L'EDU...,84.12Z,both
102108,170404313,1983-01-01,4200.0,SISTERON,04209,A,CENTRE MEDICO SCOLAIRE,NaN,86.21Z,1975-12-01,A,NaN,DIRECTION DES SERVICES DEPARTEMENTAUX DE L'EDU...,84.12Z,both
102109,170404313,1983-01-01,4400.0,BARCELONNETTE,04019,A,CENTRE MEDICO SCOLAIRE,NaN,86.21Z,1975-12-01,A,NaN,DIRECTION DES SERVICES DEPARTEMENTAUX DE L'EDU...,84.12Z,both
102319,171004310,1998-01-29,10100.0,ROMILLY SUR SEINE,10323,A,CENTRE MEDICO SCOLAIRE,NaN,86.21Z,1985-02-01,A,NaN,DIRECTION DE SERVICES DEPARTEMENTAUX DE L'EDUC...,84.12Z,both
105624,174504316,2001-12-25,45000.0,ORLEANS,45234,A,SERVICES DE SANTE SCOLAIRE ET SOCIAUX,NaN,86.21Z,1985-01-01,A,NaN,DIRECTION DES SERVICES DEPARTEMENTAUX DE L'EDU...,84.12Z,both
105980,175104314,1953-04-01,51300.0,VITRY LE FRANCOIS,51649,A,CENTRE MEDICO SCOLAIRE,NaN,86.21Z,1985-02-01,A,NaN,DIRECTION DES SERVICES DEPARTEMENTAUX DE L'EDU...,84.12Z,both
105981,175104314,1947-07-06,51200.0,EPERNAY,51230,A,CENTRE MEDICO SCOLAIRE,NaN,86.21Z,1985-02-01,A,NaN,DIRECTION DES SERVICES DEPARTEMENTAUX DE L'EDU...,84.12Z,both
105982,175104314,1978-09-04,51000.0,CHALONS EN CHAMPAGNE,51108,A,CENTRE MEDICO SCOLAIRE,NaN,86.21Z,1985-02-01,A,NaN,DIRECTION DES SERVICES DEPARTEMENTAUX DE L'EDU...,84.12Z,both
105983,175104314,1972-03-01,51100.0,REIMS,51454,A,CENTRE MEDICO SCOLAIRE,NaN,86.21Z,1985-02-01,A,NaN,DIRECTION DES SERVICES DEPARTEMENTAUX DE L'EDU...,84.12Z,both
105985,175104314,1994-11-30,51120.0,SEZANNE,51535,A,CENTRE MEDICO SCOLAIRE,NaN,86.21Z,1985-02-01,A,NaN,DIRECTION DES SERVICES DEPARTEMENTAUX DE L'EDU...,84.12Z,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11216929,950081794,1990-10-01,85210.0,SAINTE HERMINE,85223,A,TAXI HERMINOIS POMPES FUNEBRES HERMINOIS,NaN,68.20B,1900-01-01,A,NAUD,NaN,86.90A,both
11218197,950386458,1996-12-30,97110.0,POINTE A PITRE,97120,A,NaN,NaN,66.19A,1988-01-01,A,TABARDEL,NaN,86.90B,both
11218238,950387308,1996-12-18,93200.0,SAINT DENIS,93066,A,NaN,NaN,55.10Z,1986-02-17,A,JABINET,NaN,86.22A,both
11218254,950387589,2004-01-01,71230.0,SAINT VALLIER,71486,A,NaN,ELEVAGE DES BRUYERES DE L'ESCREBIEUX,01.49Z,1989-07-05,A,CARTON,NaN,86.90E,both
11218264,950387795,2013-06-19,59650.0,VILLENEUVE D'ASCQ,59009,A,NaN,NaN,68.20A,1988-08-01,A,BRUNAUX,NaN,86.21Z,both
11218268,950387860,2018-12-01,59240.0,DUNKERQUE,59183,A,NaN,NaN,68.20A,1989-07-26,A,BREYNAERT,NaN,86.90E,both
11218511,950395186,2006-10-09,69380.0,CHARNAY,69047,A,NaN,NaN,70.10Z,1985-01-01,A,RUBAN,NaN,86.22C,both
11218512,950395186,2016-10-12,69002.0,LYON 2EME,69382,A,NaN,NaN,68.20A,1985-01-01,A,RUBAN,NaN,86.22C,both
11219447,950420943,2018-08-16,12780.0,VEZINS DE LEVEZOU,12294,A,NaN,NaN,01.49Z,1989-07-24,A,GUCCINI,NaN,86.90E,both
11219475,950423327,2012-09-20,83400.0,HYERES,83069,A,NaN,NaN,68.20A,1989-09-01,A,GIRAULT,NaN,86.90E,both
11220245,950467357,2017-06-07,94350.0,VILLIERS SUR MARNE,94079,A,NaN,NaN,68.20A,1989-09-04,A,LE REUN,NaN,86.90D,both
11220247,950467399,2018-06-10,44780.0,MISSILLAC,44098,A,NaN,NaN,86.90E,1989-10-10,A,STERLINGOT,NaN,86.90F,both
11220491,950494674,2006-07-01,21530.0,LA ROCHE EN BRENIL,21525,A,L HERITAGE 1903,NaN,68.20A,1989-07-21,A,TAVERNARI,NaN,86.21Z,both
11220615,950498253,2015-10-28,71000.0,MACON,71270,A,NaN,NaN,86.22C,1989-09-01,A,BISCH,NaN,68.20A,both
11220723,950502104,2000-01-01,38860.0,LES DEUX ALPES,38253,A,NaN,NaN,68.20A,1989-07-24,A,DAVID,NaN,86.22C,both
11220849,950517755,2012-09-21,13520.0,PARADOU,13068,A,NaN,NaN,68.20A,1989-10-01,A,LIENARD,NaN,86.90E,both
11220863,950524595,1996-01-01,73440.0,LES BELLEVILLE,73257,A,NaN,NaN,68.20A,1989-07-01,A,TILLIE,NaN,86.21Z,both
11220865,950524595,2016-01-01,97280.0,VAUCLIN,97232,A,NaN,NaN,68.20A,1989-07-01,A,TILLIE,NaN,86.21Z,both
11221269,950567164,2018-04-15,35400.0,SAINT MALO,35288,A,NaN,NaN,68.20A,1989-06-01,A,BERNE,NaN,86.90E,both
11221384,950574244,2005-12-01,33780.0,SOULAC SUR MER,33514,A,NaN,NaN,68.20B,1989-09-01,A,DELALE,NaN,86.22C,both
11221749,950605014,1997-09-03,2410.0,SAINT GOBAIN,02680,A,NaN,NaN,68.20B,1989-02-01,A,TATINCLAUX,NaN,86.21Z,both
11221786,950606087,2004-07-01,52800.0,SARCEY,52459,A,PETIT ELEVAGE AVICOLE DE LA,NaN,01.47Z,1989-10-01,A,MERLOT,NaN,86.90D,both
11222018,950615005,2001-01-01,56610.0,ARRADON,56003,A,NaN,NaN,77.39Z,1989-03-13,A,TREMOLIERES,NaN,86.21Z,both
11222423,950638098,2008-05-13,97490.0,SAINT DENIS,97411,A,NaN,NaN,86.22C,1986-02-24,A,KAH,NaN,86.21Z,both
11222447,950638692,1992-01-01,75018.0,PARIS 18,75118,A,NaN,NaN,68.20B,1989-10-20,A,CAPDEVILLE,NaN,86.21Z,both
11222448,950638692,2014-06-15,97422.0,SAINT PAUL,97415,A,NaN,NaN,64.99Z,1989-10-20,A,CAPDEVILLE,NaN,86.21Z,both
11225252,955504303,2016-06-13,92800.0,PUTEAUX,92062,A,NaN,NaN,70.10Z,1955-01-01,A,NaN,CLINIQUE LA CHAVANNERIE,86.10Z,both
11226016,957503147,2016-06-28,92800.0,PUTEAUX,92062,A,NaN,NaN,70.10Z,1957-01-01,A,NaN,CLINIQUE MEDICALE DE CHAMPVERT,86.10Z,both
11227477,961701307,1974-10-01,6200.0,NICE,06088,A,NaN,NaN,01.24Z,1900-01-01,A,MEASSON,NaN,86.22C,both
11229535,970201075,2007-01-01,31240.0,L'UNION,31561,A,NaN,NaN,70.10Z,1970-01-01,A,NaN,CLINIQUE DE SACLAS,86.10Z,both

In [73]:
ps_df = (etab_merge_df.loc[etab_merge_df.activiteprincipaleunitelegale.str.startswith("86.") |
                      etab_merge_df.activiteprincipaleetablissement.str.startswith("86.")]
         .assign(etab_ape_l1 = lambda df: df.activiteprincipaleetablissement.str.slice(0, 2))
         .assign(el_ape_l1 = lambda x: x.activiteprincipaleunitelegale.str.slice(0, 2))
         .assign(cross_l1 = lambda df: df.el_ape_l1 + '_' + df.etab_ape_l1)
        )

In [81]:
ps_df.cross_l1.value_counts(normalize=False)

86_86    552149
86_68     10368
84_86      3477
86_87      2259
86_88      1448
86_70      1405
86_01      1336
88_86       944
65_86       772
86_47       761
86_85       733
86_66       617
86_96       408
86_90       357
87_86       352
86_55       342
01_86       332
68_86       313
86_49       302
47_86       257
86_02       242
85_86       214
96_86       207
94_86       205
86_35       180
70_86       149
90_86       116
86_74        89
86_82        87
49_86        85
          ...
86_73         3
33_86         2
86_65         2
41_86         2
71_86         2
13_86         2
86_38         2
86_15         2
86_91         2
86_00         2
79_86         2
11_86         1
86_18         1
50_86         1
21_86         1
31_86         1
15_86         1
86_61         1
86_25         1
86_08         1
78_86         1
14_86         1
86_11         1
28_86         1
86_80         1
86_27         1
86_79         1
86_22         1
86_29         1
05_86         1
Name: cross_l1, Length: 121, dtype: int64

In [82]:
pd.crosstab(ps_df.query("cross_l1 == '86_86'").activiteprincipaleetablissement,
           ps_df.query("cross_l1 == '86_86'").activiteprincipaleunitelegale)

activiteprincipaleunitelegale,86.10Z,86.21Z,86.22A,86.22B,86.22C,86.23Z,86.90A,86.90B,86.90C,86.90D,86.90E,86.90F
activiteprincipaleetablissement,,,,,,,,,,,,
86.10Z,8736,12,8,2,1,0,0,0,0,6,1,0
86.21Z,312,88879,202,68,423,15,0,6,6,19,9,10
86.22A,11,207,7618,0,100,0,0,0,0,1,0,0
86.22B,4,97,0,6410,106,6,0,0,0,0,0,1
86.22C,17,634,216,186,47899,12,0,10,0,1,2,8
86.23Z,9,4,0,16,7,44336,0,0,0,1,1,0
86.90A,35,0,0,0,0,0,7866,0,1,1,0,0
86.90B,15,10,3,0,24,0,0,6450,1,3,0,0
86.90C,14,0,0,0,0,0,0,0,422,0,0,0
86.90D,322,15,2,1,5,4,0,3,0,127363,85,61
86.90E,4,12,0,0,2,1,0,1,0,158,128853,349
86.90F,9,22,1,0,9,2,3,8,0,251,169,72954

https://www.insee.fr/fr/information/2120875

In [75]:
# copier la table d'excel 
naf_df = pd.read_clipboard()

In [76]:
naf_df

,NAF,Libellé,Catégorie
0,86.10Z,Activités hospitalières,hopital
1,86.21Z,Activité des médecins généralistes,generaliste
2,86.22A,Activités de radiodiagnostic et de radiothérapie,radiologiste
3,86.22B,Activités chirurgicales,chirurgien
4,86.22C,Autres activités des médecins spécialistes,autre_specialiste
5,86.23Z,Pratique dentaire,dentiste
6,86.90A,Ambulances,ambulance
7,86.90B,Laboratoires d'analyses médicales,analyse_medicale
8,86.90C,Centres de collecte et banques d'organes,organe
9,86.90D,Activités des infirmiers et des sages-femmes,infirmiers
10,86.90E,Activités des professionnels de la rééducation...,reeducateur_podologe
11,86.90F,Activités de santé humaine non classées ailleurs,autre

In [92]:
naf_df.to_excel(os.path.join(DATA_DIR, NAF_REF_FILENAME))

In [77]:
ps_df.loc[ps_df.cross_l1 == "86_86", 'code_activité'] = ps_df.activiteprincipaleetablissement
ps_df.loc[ps_df.el_ape_l1 != "86" , 'code_activité'] = ps_df.activiteprincipaleetablissement
ps_df.loc[~ps_df.activiteprincipaleetablissement.str.startswith("86", na=False), 'code_activité'] = ps_df.activiteprincipaleunitelegale

*2ème version*

In [137]:
ps_df['code_activité'] = ps_df.apply(lambda x: x.activiteprincipaleetablissement 
                                     if x.etab_ape_l1 == "86" 
                                     else x.activiteprincipaleunitelegale, 
                                     axis=1)

*3ème version*

In [14]:
ps_df['code_activité'] = ps_df.activiteprincipaleetablissement
ps_df['code_activité'] = np.where(ps_df.etab_ape_l1 == "86", ps_df.activiteprincipaleetablissement 
                                    ps_df.activiteprincipaleunitelegale)

SyntaxError: invalid syntax (<ipython-input-14-aa9345916dbb>, line 3)

In [19]:
ps_df['code_activité'].value_counts()

86.90D    133517
86.90E    133251
86.21Z     99310
86.90F     76535
86.22C     51951
86.23Z     47727
86.10Z     14214
86.90A      9205
86.22A      8573
86.22B      7139
86.90B      7031
86.06        463
86.90C       443
86.08        299
86.02        219
86.10        175
86.07        170
86.01        118
86.12         51
86.09         32
86.05         31
86.04         27
86.03          7
86.11          6
Name: code_activité, dtype: int64

In [79]:
(ps_df
 .merge(naf_df, how = 'inner', left_on = 'code_activité', right_on = 'NAF')
 [['codecommuneetablissement', 'Catégorie']]
 .dropna(subset=['codecommuneetablissement'])
 .assign(count=1)
 .groupby(['codecommuneetablissement', 'Catégorie'])
 .sum()
 .reset_index()
 .pivot(index='codecommuneetablissement', columns='Catégorie', values = 'count')
 .fillna(0)
 ).to_csv(os.path.join(PROCESS_DIR, PS_CITIES_FILENAME)
          , sep=';'
       #   , compression='zip'
         )

import plotly 
from plotly import __version__
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import plotly.plotly as py
import plotly.graph_objs as go

plotly.tools.set_credentials_file(username='AlexisCot', api_key='0TxePHWL6xHVIaY1vznF') # API - key ALEXIS COTTEZ
plotly.tools.set_config_file(world_readable=False,sharing='private')
init_notebook_mode(connected=True)

print (__version__)

all_index = list(etab_merge_df['activiteprincipaleetablissement'].value_counts().index) + list(etab_merge_df['activiteprincipaleunitelegale'].value_counts().index)

data = dict(
    type='sankey',
    node = dict(
      pad = 15,
      thickness = 20,
      line = dict(
        color = "black",
        width = 0.5
      ),
      label = all_index,
    ),
    link = dict(
      source = etab_merge_df['activiteprincipaleetablissement'].value_counts(),
      target = etab_merge_df['activiteprincipaleunitelegale'].value_counts(),
      value = [7,4,9,2]
  ))

layout =  dict(
    title = "Evolution",
    font = dict(
      size = 10
    )
)

fig = dict(data=[data], layout=layout)
iplot(fig, validate=False)

%load_ext dpaste_magic

# %load https://dpaste.de/SWEe/raw
ps_df = (merged_df.loc[merged_df.activiteprincipaleunitelegale.str.startswith("86.") |
                      merged_df.activiteprincipaleetablissement.str.startswith("86.")]
         .assign(etab_ape_l1 = lambda df: df.activiteprincipaleetablissement.str.slice(0, 2))
         .assign(el_ape_l1 = lambda x: x.activiteprincipaleunitelegale.str.slice(0, 2))
         .assign(cross_l1 = lambda df: df.el_ape_l1 + '_' + df.etab_ape_l1)
        )
merged_df = (etab_df.merge(entities_df, on='siren', how='outer', indicator=True)